
body {
	background-image:url("book.jpg");
	background-repeat: no-repeat;
	
}
.message {
	display: none;
	color:red;
	width:40%;
	margin-right:20%;
	margin-left:40%;
	font-size:30px;
}
#txt{
	color:red;
	width:40%;
	margin-right:20%;
	margin-left:70%;
	font-size:40px;
}
table,tr,th,td{
	border:2px solid black;
	
}
table{
	margin-left: auto;
margin-right: auto;
}
th {
    background-color: #4CAF50;
    color: white;
}
caption{
	font-size:20px;
	text-decoration:underline;
}
#addreservation{
	width: 40%;
    margin-right: 30%;
    margin-left: 30%;
	
	border-radius: 4px;
	background-color: #f4511e;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 28px;
	
}

#back{
	width: 40%;
    margin-right: 30%;
    margin-left: 30%;
	
	border-radius: 4px;
	background-color: #f4511e;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 28px;
}
button {
	display: block;
	margin-top: 15px;}