

label,
button {
	display: block;
	margin-top: 15px;
}

.message {
	display:none;
	color:red;
}
body {
	background-image:url("book.jpg");
	background-repeat: no-repeat;
	background-position:center;
	
}
#reservationForm {
	width: 40%;
    margin-right: 30%;
    margin-left: 30%;
}
#submitReservation{
	width: 40%;
    margin-right: 30%;
    margin-left: 30%;
	
	border-radius: 4px;
	background-color: #f4511e;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 28px;
}
#backbutton{
	width: 40%;
    margin-right: 30%;
    margin-left: 30%;
	
	border-radius: 4px;
	background-color: #f4511e;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 28px;
}



