body{
	background-image:url("book.jpg");
	background-repeat: no-repeat;
	background-position:center;

}
a{
	background-color:white;
	color:black;
	text-decoration:none;
}


div{
	margin: auto;
    width: 50%;
	height:50px;
	 padding: 10px;
	position:relative;
	left: 0;
    top: 100%;
    text-align: center;
    font-size: 30px;
	
	
}
div a:hover{
	
	cursor:pointer;
	border:2px solid black;
	background-color:green;
	color:white;
	
}
