<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Reservations</title>
  <link rel="stylesheet" type="text/css" href="css/reservation-list.css" />
  <script src="js/jquery.js"></script>
  <script type="text/javascript">
  document.onload=function(){
	  $("#addreservation").hover(function(){

	 $(this).append("<i> >> </i>")

	 }, function(){

	 $(this).children("i").remove();
	 })
	 $("#back").hover(function(){

	 $(this).append("<i> << </i>")
	 }, function(){

	 $(this).children("i").remove();
	 })
	   }
 </script>
  
  
  
</head>
<body>
 

  <div id="system-error" class="message">We are sorry, retrieving the list of reservations failed - please try again later.</div>
  <div id="action-error" class="message">We are sorry, we were unable to execute your action - please try again later.</div><br>
<div id="txt"></div>
  <div id="reservation-list">
    <!-- the content will be placed here -->
  </div>    

  <script id="reservation-list-template" type="text/x-handlebars-template">  
    <table>
      <caption>List of reservations</caption></br>
      <thead>
        <tr>
          <th>Reservation ID</th>
          <th>Facility ID</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Reserved by</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
    {{#each content}}  
        <tr>                    
          <td>{{id}}</td>
          <td>{{resourceId}}</td>
          <td>{{startDate}}</td>            
          <td>{{endDate}}</td> 
          <td>{{owner}}</td> 
          <td><a href="#" class="action" reservationId="{{id}}">Cancel</a>           
        </tr>
    {{/each}}
      </tbody>
    </table> </br>
</script>
<form>
<input type="button" id="back" onclick="location.href='index.html';" value="Go to main menu " /><br>
<input type="button" id="addreservation" onclick="location.href='reservation.html';"  value="New reservation">
</form>
  
  
  
  <script src="js/lib/handlebars-v3.0.0.js"></script>
  <script src="js/reservation-list.js"></script>
  

</body>
</html>